<?xml version="1.0" encoding="utf-8" ?>
<Config>
  
  //(classname = {0})   (position = {1})   (direction = {2}) (setVectorUp (true/false) = {3})
  
  //Example of what [{0}, [{1}, {2}], {3}] would output:  ["MAP_Hangar_2", [[2128.1116, 11655.643, 0.23700279], 175.5399], true]
  //Example without setVectorUp: [{0}, [{1}, {2}]] would output: ["MAP_Hangar_2", [[2128.1116, 11655.643, 0.23700279], 175.5399]]
  <Format>[{0}, [{1}, {2}], {3}],</Format> //The formatting of each line.
  
  
  //Editor classnames (original) and their lootable counterpart (replacement).
  <Classnames>
    <Classname original="MAP_HouseB_Tenement" replacement="Land_HouseB_Tenement"/>
    <Classname original="MAP_Mil_House" replacement="Land_Mil_House"/>
    <Classname original="MAP_Shed_Ind02" replacement="Land_Shed_Ind02"/>
    <Classname original="MAP_a_stationhouse" replacement="Land_a_stationhouse"/>
    <Classname original="MAP_Mil_Barracks" replacement="Land_Mil_Barracks"/>
    <Classname original="MAP_Shed_W4" replacement="Land_Shed_W4"/>
    <Classname original="MAP_Barn_W_01" replacement="Land_Barn_W_01"/>
    <Classname original="MAP_HouseV_1I1" replacement="Land_HouseV_1I1"/>
    <Classname original="MAP_HouseV_1L2" replacement="Land_HouseV_1L2"/>
    <Classname original="MAP_HouseV_3I3" replacement="Land_HouseV_3I3"/>
    <Classname original="MAP_HouseV_1I3" replacement="Land_HouseV_1I3"/>
    <Classname original="MAP_HouseV_1I4" replacement="Land_HouseV_1I4"/>
    <Classname original="MAP_Mil_Guardhouse" replacement="Land_Mil_Guardhouse"/>
    <Classname original="MAP_Misc_PowerStation" replacement="Land_Misc_PowerStation"/>
    <Classname original="MAP_repair_center" replacement="Land_repair_center"/>
    <Classname original="MAP_A_TVTower_Base" replacement="Land_A_TVTower_Base"/>
    <Classname original="MAP_Shed_W01" replacement="Land_Shed_W01"/>
    <Classname original="MAP_A_MunicipalOffice" replacement="Land_A_MunicipalOffice"/>
    <Classname original="MAP_sara_domek_zluty" replacement="Land_sara_domek_zluty"/>
    <Classname original="MAP_Nav_Boathouse" replacement="Land_Nav_Boathouse"/>
    <Classname original="MAP_BoatSmall_2b" replacement="Land_BoatSmall_2b"/>
    <Classname original="MAP_A_Castle_Bergfrit" replacement="Land_A_Castle_Bergfrit"/>
    <Classname original="MAP_A_Castle_Stairs_A" replacement="Land_A_Castle_Stairs_A"/>
    <Classname original="MAP_A_Castle_Gate" replacement="Land_A_Castle_Gate"/>
    <Classname original="MAP_A_Castle_Wall2_End_2" replacement="Land_A_Castle_Wall2_End_2"/>
    <Classname original="MAP_A_Castle_WallS_End" replacement="Land_A_Castle_WallS_End"/>
    <Classname original="MAP_A_Castle_Wall2_30" replacement="Land_A_Castle_Wall2_30"/>
    <Classname original="MAP_A_Castle_WallS_10" replacement="Land_A_Castle_WallS_10"/>
    <Classname original="MAP_A_Castle_Donjon" replacement="Land_A_Castle_Donjon"/>
    <Classname original="MAP_Church_01" replacement="Land_Church_01"/>
    <Classname original="MAP_Church_03" replacement="Land_Church_03"/>
    <Classname original="MAP_Church_02" replacement="Land_Church_02"/>
    <Classname original="MAP_Church_02a" replacement="Land_Church_02a"/>
    <Classname original="MAP_Church_05R" replacement="Land_Church_05R"/>
    <Classname original="MAP_A_Mosque_small_2_EP1" replacement="Land_A_Mosque_small_2_EP1"/>
    <Classname original="MAP_A_Minaret_EP1" replacement="Land_A_Minaret_EP1"/>
    <Classname original="MAP_wagon_box" replacement="Land_wagon_box"/>
    <Classname original="MAP_transport_cart_EP1" replacement="Land_transport_cart_EP1"/>
    <Classname original="MAP_wagon_flat" replacement="Land_wagon_flat"/>
    <Classname original="MAP_wagon_tanker" replacement="Land_wagon_tanker"/>
    <Classname original="MAP_stodola_old_open" replacement="Land_stodola_old_open"/>
    <Classname original="MAP_Farm_Cowshed_a" replacement="Land_Farm_Cowshed_a"/>
    <Classname original="MAP_stodola_open" replacement="Land_stodola_open"/>
    <Classname original="MAP_Barn_W_02" replacement="Land_Barn_W_02"/>
    <Classname original="MAP_Farm_Cowshed_c" replacement="Land_Farm_Cowshed_c"/>
    <Classname original="MAP_Farm_Cowshed_b" replacement="Land_Farm_Cowshed_b"/>
    <Classname original="MAP_Shed_W02" replacement="Land_Shed_W02"/>
    <Classname original="MAP_sara_stodola" replacement="Land_sara_stodola"/>
    <Classname original="MAP_sara_domek_podhradi_1" replacement="land_domek_podhradi_1"/>
    <Classname original="MAP_A_Hospital" replacement="Land_A_Hospital"/>
    <Classname original="MAP_MASH" replacement="MASH_EP1"/>
    <Classname original="MAP_Misc_deerstand" replacement="Land_Misc_deerstand"/>
    <Classname original="MAP_Ind_Workshop01_01" replacement="Land_Ind_Workshop01_01"/>
    <Classname original="MAP_Ind_Garage01" replacement="Land_Ind_Garage01"/>
    <Classname original="MAP_Ind_Workshop01_02" replacement="Land_Ind_Workshop01_02"/>
    <Classname original="MAP_Ind_Workshop01_04" replacement="Land_Ind_Workshop01_04"/>
    <Classname original="MAP_Ind_Workshop01_L" replacement="Land_Ind_Workshop01_L"/>
    <Classname original="MAP_Hangar_2" replacement="Land_Hangar_2"/>
    <Classname original="MAP_A_FuelStation_Build" replacement="Land_A_FuelStation_Build"/>
    <Classname original="MAP_Tovarna2" replacement="Land_Tovarna2"/>
    <Classname original="MAP_Ind_Vysypka" replacement="Land_Ind_Vysypka"/>
    <Classname original="MAP_A_BuildingWIP" replacement="Land_A_BuildingWIP"/>
    <Classname original="MAP_Misc_Cargo1Ao" replacement="Land_Misc_Cargo1Ao"/>
    <Classname original="MAP_Misc_Cargo1Bo" replacement="Land_Misc_Cargo1Bo"/>
    <Classname original="MAP_telek1" replacement="Land_telek1"/>
    <Classname original="MAP_Rail_House_01" replacement="Land_Rail_House_01"/>
    <Classname original="MAP_Barn_Metal" replacement="Land_Barn_Metal"/>
    <Classname original="MAP_Ind_Expedice_1" replacement="Land_Ind_Expedice_1"/>
    <Classname original="MAP_A_CraneCon" replacement="Land_A_CraneCon"/>
    <Classname original="MAP_Ind_Mlyn_03" replacement="Land_Ind_Mlyn_03"/>
    <Classname original="MAP_komin" replacement="Land_komin"/>
    <Classname original="MAP_Ind_Pec_01" replacement="Land_Ind_Pec_01"/>
    <Classname original="MAP_Ind_SiloVelke_01" replacement="Land_Ind_SiloVelke_01"/>
    <Classname original="MAP_Misc_Garb_Heap_EP1" replacement="Land_Misc_Garb_Heap_EP1"/>
    <Classname original="MAP_Shed_M02" replacement="Land_Shed_M02"/>
    <Classname original="MAP_Misc_Rubble_EP1" replacement="Land_Misc_Rubble_EP1"/>
    <Classname original="MAP_A_Crane_02b" replacement="Land_A_Crane_02b"/>
    <Classname original="MAP_Misc_GContainer_Big" replacement="Land_Misc_GContainer_Big"/>
    <Classname original="MAP_trafostanica_velka" replacement="Land_trafostanica_velka"/>
    <Classname original="MAP_sara_hasic_zbroj" replacement="Land_sara_hasic_zbroj"/>
    <Classname original="MAP_Ind_Quarry" replacement="Land_Ind_Quarry"/>
    <Classname original="MAP_SS_hangar" replacement="Land_SS_hangar"/>
    <Classname original="MAP_Mil_Barracks_i" replacement="Land_Mil_Barracks_i"/>
    <Classname original="MAP_tent_east" replacement="Land_tent_east"/>
    <Classname original="MAP_Dam_ConcP_20" replacement="Land_Dam_ConcP_20"/>
    <Classname original="MAP_Vysilac_FM" replacement="Land_Vysilac_FM"/>
    <Classname original="MAP_Mil_Barracks_L" replacement="Land_Mil_Barracks_L"/>
    <Classname original="MAP_budova4_in" replacement="Land_budova4_in"/>
    <Classname original="MAP_kostel_trosky" replacement="Land_kostel_trosky"/>
    <Classname original="MAP_Panelak" replacement="Land_Panelak"/>
    <Classname original="MAP_Panelak2" replacement="Land_Panelak2"/>
    <Classname original="MAP_rail_station_big" replacement="Land_rail_station_big"/>
    <Classname original="MAP_A_Office01" replacement="Land_A_Office01"/>
    <Classname original="MAP_vysoky1" replacement="land_vysoky1"/>
    <Classname original="MAP_dlouhy2" replacement="land_dlouhy2"/>
    <Classname original="MAP_hotel_p2" replacement="land_hotel_p2"/>
    <Classname original="MAP_hotel_p1" replacement="land_hotel_p1"/>
    <Classname original="MAP_A_Office02" replacement="Land_A_Office02"/>
    <Classname original="MAP_aif_hotel" replacement="Land_aif_hotel"/>
    <Classname original="MAP_aif_hotel_bio" replacement="Land_aif_hotel_bio"/>
    <Classname original="MAP_sloup_vn" replacement="Land_sloup_vn"/>
    <Classname original="MAP_kulna" replacement="Land_kulna"/>
    <Classname original="MAP_hut06" replacement="Land_hut06"/>
    <Classname original="MAP_Hlidac_budka" replacement="Land_Hlidac_budka"/>
    <Classname original="MAP_HouseV2_02_Interier" replacement="Land_HouseV2_02_Interier"/>
    <Classname original="MAP_A_Pub_01" replacement="Land_A_Pub_01"/>
    <Classname original="MAP_Shed_wooden" replacement="Land_Shed_wooden"/>
    <Classname original="MAP_HouseBlock_A1_1" replacement="Land_HouseBlock_A1_1"/>
    <Classname original="MAP_HouseV2_04_interier" replacement="Land_HouseV2_04_interier"/>
    <Classname original="MAP_HouseV2_01A" replacement="Land_HouseV2_01A"/>
    <Classname original="MAP_psi_bouda" replacement="Land_psi_bouda"/>
    <Classname original="MAP_KBud" replacement="Land_KBud"/>
    <Classname original="MAP_HouseV_3I4" replacement="Land_HouseV_3I4"/>
    <Classname original="MAP_HouseV_3I1" replacement="Land_HouseV_3I1"/>
    <Classname original="MAP_HouseV_1T" replacement="Land_HouseV_1T"/>
    <Classname original="MAP_HouseV_1L1" replacement="Land_HouseV_1L1"/>
    <Classname original="MAP_HouseV_1I2" replacement="Land_HouseV_1I2"/>
    <Classname original="MAP_HouseV_2L" replacement="Land_HouseV_2L"/>
    <Classname original="MAP_houseV_2T2" replacement="Land_houseV_2T2"/>
    <Classname original="MAP_HouseBlock_A1" replacement="Land_HouseBlock_A1"/>
    <Classname original="MAP_HouseBlock_A2_1" replacement="Land_HouseBlock_A2_1"/>
    <Classname original="MAP_HouseBlock_A3" replacement="Land_HouseBlock_A3"/>
    <Classname original="MAP_HouseBlock_B5" replacement="Land_HouseBlock_B5"/>
    <Classname original="MAP_HouseBlock_B6" replacement="Land_HouseBlock_B6"/>
    <Classname original="MAP_HouseBlock_C1" replacement="Land_HouseBlock_C1"/>
    <Classname original="MAP_HouseV2_01B" replacement="Land_HouseV2_01B"/>
    <Classname original="MAP_HouseV2_03" replacement="Land_HouseV2_03"/>
    <Classname original="MAP_GuardShed" replacement="Land_GuardShed"/>
    <Classname original="MAP_NAV_Lighthouse" replacement="Land_NAV_Lighthouse"/>
    <Classname original="MAP_Panelak3" replacement="Land_Panelak3"/>
    <Classname original="MAP_ruin_corner_1" replacement="Land_ruin_corner_1"/>
    <Classname original="MAP_ruin_walldoor" replacement="Land_ruin_walldoor"/>
    <Classname original="MAP_ruin_01" replacement="Land_ruin_01"/>
    <Classname original="MAP_Shed_W03" replacement="Land_Shed_W03"/>
    <Classname original="MAP_HouseV_2T1" replacement="Land_HouseV_2T1"/>
    <Classname original="MAP_HouseV_3I2" replacement="Land_HouseV_3I2"/>
    <Classname original="MAP_HouseBlock_A1_2" replacement="Land_HouseBlock_A1_2"/>
    <Classname original="MAP_HouseBlock_A2" replacement="Land_HouseBlock_A2"/>
    <Classname original="MAP_HouseBlock_B1" replacement="Land_HouseBlock_B1"/>
    <Classname original="MAP_HouseBlock_B2" replacement="Land_HouseBlock_B2"/>
    <Classname original="MAP_HouseBlock_B3" replacement="Land_HouseBlock_B3"/>
    <Classname original="MAP_HouseBlock_B4" replacement="Land_HouseBlock_B4"/>
    <Classname original="MAP_HouseBlock_C2" replacement="Land_HouseBlock_C2"/>
    <Classname original="MAP_HouseBlock_C3" replacement="Land_HouseBlock_C3"/>
    <Classname original="MAP_HouseBlock_C5" replacement="Land_HouseBlock_C5"/>
    <Classname original="MAP_Misc_Cargo1D" replacement="Land_Misc_Cargo1D"/>
    <Classname original="MAP_Ind_Shed_01_end" replacement="Land_Ind_Shed_01_end"/>
    <Classname original="MAP_A_statue01" replacement="Land_A_statue01"/>
    <Classname original="MAP_Misc_Scaffolding" replacement="Land_Misc_Scaffolding"/>
    <Classname original="MAP_A_GeneralStore_01a" replacement="Land_A_GeneralStore_01a"/>
    <Classname original="MAP_A_GeneralStore_01" replacement="Land_A_GeneralStore_01"/>
    <Classname original="MAP_Toilet" replacement="Land_Toilet"/>
  </Classnames>
</Config>
